<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxy.imback.mapper.FriendApplicationRecordMapper">

    <resultMap id="BaseResultMap" type="com.wxy.imback.model.entity.FriendApplicationRecord">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="businessType" column="business_type" jdbcType="INTEGER"/>
            <result property="passed" column="passed" jdbcType="TINYINT"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
            <result property="applyTime" column="apply_time" jdbcType="BIGINT"/>
            <result property="isBlock" column="is_block" jdbcType="TINYINT"/>
            <result property="businessId" column="business_id" jdbcType="BIGINT"/>
            <result property="auditTime" column="audit_time" jdbcType="BIGINT"/>
            <result property="auditId" column="audit_id" jdbcType="INTEGER"/>
            <result property="applyReason" column="apply_reason" jdbcType="VARCHAR"/>
            <result property="auditReason" column="audit_reason" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,business_type,
        passed,is_delete,apply_time,
        is_block,business_id,audit_time,
        audit_id,apply_reason,audit_reason
    </sql>

    <update id="applyFriend">
        update friend_application_record set passed = 1 where friend_id = #{user_id}
    </update>

    <update id="updatePassed">
        update friend_application_record set passed = 2
        where user_id = #{user_id} and business_id = #{friend_id} and is_delete = 0
    </update>

    <update id="updateApplyStatus">
        update friend_application_record set passed = 0 ,apply_time =#{apply_time}
        where user_id = #{user_id} and business_id = #{friend_id} and is_delete = 0
    </update>



    <update id="updateAuditStatus">
        update friend_application_record set passed = #{audit} ,audit_time =#{audit_time},audit_id =#{user_id}
        where user_id = #{user_id} and business_id = #{business_id} and is_delete = 0
    </update>


    <select id="selectByFriendId" resultType="com.wxy.imback.model.vo.FriendApplicationRecordVO">
        select <include refid="Base_Column_List"></include> from friend_application_record
        where user_id = #{user_id} and business_id = #{friend_id} and is_delete = 0
    </select>

    <select id="selectFriendApplyList" resultType="com.wxy.imback.model.vo.FriendAuditVO">
        SELECT a.user_id, a.nick_name, a.avatar, b.passed
        FROM user a
        JOIN friend_application_record b ON a.user_id = b.business_id
        WHERE b.user_id = #{user_id} AND b.is_delete = 0

    </select>





</mapper>
