<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxy.imback.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.wxy.imback.model.entity.User">
        <id property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="TINYINT"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="personalSignature" column="personal_signature" jdbcType="VARCHAR"/>
        <result property="birthday" column="birthday" jdbcType="DATE"/>
        <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
        <result property="lastLoginTime" column="last_login_time" jdbcType="BIGINT"/>
        <result property="activate" column="activate" jdbcType="TINYINT"/>
        <result property="activateTime" column="activate_time" jdbcType="BIGINT"/>
        <result property="channel" column="channel" jdbcType="VARCHAR"/>
        <result property="secretMobile" column="secret_mobile" jdbcType="VARCHAR"/>
        <result property="device" column="device" jdbcType="VARCHAR"/>
        <result property="deviceId" column="device_id" jdbcType="VARCHAR"/>
        <result property="deviceModel" column="device_model" jdbcType="VARCHAR"/>
        <result property="ip" column="ip" jdbcType="BIGINT"/>
        <result property="active" column="active" jdbcType="TINYINT"/>
        <result property="gmtCreate" column="gmt_create" jdbcType="BIGINT"/>
        <result property="gmtModified" column="gmt_modified" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id
        ,user_name,nick_name,
        email,password,gender,
        avatar,personal_signature,birthday,
        mobile,last_login_time,activate,
        activate_time,channel,secret_mobile,
        device,device_id,device_model,
        ip,active,gmt_create,
        gmt_modified
    </sql>



    <select id="selectByMail" resultType="com.wxy.imback.model.entity.User">
        select
        <include refid="Base_Column_List"></include>
        from user where email=#{mail}
    </select>



    <select id="selectFriendList" resultType="com.wxy.imback.model.vo.FriendListVO">

        SELECT u.user_id, u.nick_name
        FROM user u
        INNER JOIN friend f ON u.user_id = f.friend_id
        WHERE f.user_id = #{user_id}
        UNION
        SELECT u.user_id, u.nick_name
        FROM user u
        INNER JOIN friend f ON u.user_id = f.user_id
        WHERE f.friend_id = #{user_id}

    </select>
</mapper>
